<template>
  <div>
    <TableComp/>
  </div>
</template>

<script>
import TableComp from '@/components/TableComp.vue'

export default {
  name: 'HomeView',
  components: {
    TableComp
  }
}
</script>
