<template>
  <div>
    <table>
      <thead>
        <tr>
          <th>
            Users
          </th>
        </tr>
      </thead>
      <tbody>
          <tr>
        <tr v-for="user in getUsers">
            <th>
                <router-link :to="{path: '/usercard'}" @click.native="selectedUser(user.login.uuid)">{{user.name.last}} {{user.name.first}}</router-link>
            </th>
        </tr>
      </tbody>
    </table>
    <div class="select">
      <select style="margin-top: 10px;" @input="changeSelectedNumber" :value="getSelectedNumber">
      <option selected>10</option>
      <option>25</option>
      <option>50</option>
    </select>
    </div>
    <div>
      <div :style="{'text-decoration': (getPage == n ? 'underline' : null) }" v-for="n in numberOfPages" @click="selectedPage" class="pagination">
        {{n}}
      </div>
    </div>
  </div>
</template>
<script>
import  { mapGetters, mapActions } from 'vuex';

export default {
  name: 'TableComp',
  data() {
    return {
      page: 1
    };
  },
  computed: {
    ...mapGetters([
        'getUsers',
        'getSelectedNumber',
        'getPage'

    ]),

    numberOfPages() {
      return 100/this.getSelectedNumber;
    }
  },
  watch: {

    async getSelectedNumber() {
      this.$store.commit('setPage', 1)
      this.setUsers({selectedNumber: this.getSelectedNumber, selectedPage: this.getPage});
    },
    async getPage() {
      this.setUsers({selectedNumber: this.getSelectedNumber, selectedPage: this.getPage});
    },

  },

  methods: {
    ...mapActions([
      'setUsers',
    ]),
    selectedPage(event) {
      this.$store.commit('setPage', event.target.innerText);
    },
    selectedUser(uuid) {
      this.$store.commit('setSelectedUser', uuid);
    },
    changeSelectedNumber(event) {
      this.$store.commit('setSelectedNumber', event.target.value);
    }
  },
  async beforeMount() {
    await this.setUsers({selectedNumber: this.getSelectedNumber, selectedPage: this.getPage});
  },
}
</script>
<style lang="scss">
.pagination {
  color: black;
  float: left;
  padding: 8px 8px;
  cursor: pointer;
}


</style>