<template>
  <div>
    <ul>
      <li>Name {{user.name.last}} {{user.name.first}}</li>
      <li>Gender: {{user.gender}}</li>
      <li>email: {{user.email}}</li>
      <li>cell: {{user.cell}}</li>
    </ul>
  </div>
</template>
<script>
import {mapGetters} from "vuex";

export default {
  name: 'UserCardComp',
  methods: {
    ...mapGetters(['getUsers', 'getSelectedUser'])
  },
  computed: {
    user() {
      return this.getUsers().find(x => x.login.uuid === this.getSelectedUser());
    }
  }
}

</script>
<style>
ul {
  list-style-type: none;
}
</style>
