<template>
  <div id="app">
    <div class="text-center">
      <router-link to="/" >Home</router-link>
    </div>
    <div class="text-left">
      <router-view />
    </div>
  </div>
</template>
<style lang="scss">
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
</style>
